{% extends 'layouts/base.html' %}{% load static %}
{% block content %}

<!-- ##### Intro News Area Start ##### -->
<section class="intro-news-area section-padding-100-0">
    <div class="container" style="background: #fff;">
        <div class="row justify-content-center">
            <!-- Intro News Tabs Area -->
            <div class="col-12 col-lg-8">
                <div class="intro-news-tab">

                    <!-- Intro News Filter -->
                    <div class="intro-news-filter d-flex justify-content-between">
                        <h6>All the news</h6>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav1" data-toggle="tab" href="#nav-1" role="tab" aria-controls="nav-1" aria-selected="true">Latest</a>
                            </div>
                        </nav>
                    </div>
                    <div class="tab-content" id="nav-tabContent">

                        <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav1">
                            <div class="row">
                                {% for lpost in latest_top %}
                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post style-2 mb-5">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="{% url 'view-post' lpost.id %}"><img src="{{lpost.banner_path.url}}" alt="{{lpost.title}}"></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">{{lpost.date_created|date:"M d, Y"}}</span>
                                            <a href="{% url 'view-post' lpost.id %}" class="post-title">{{lpost.title |truncatechars:100}}</a>
                                            <a href="mailto:{{lpost.user.email}}" target="_blank" class="post-author">By {{lpost.user.username}}</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% for lpost in latest_bottom %}
                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="{% url 'view-post' lpost.id %}"><img src="{{lpost.banner_path.url}}" alt="{{lpost.title}}"></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">{{lpost.date_created|date:"M d, Y"}}</span>
                                            <a href="{% url 'view-post' lpost.id %}" class="post-title">{{lpost.title |truncatechars:100}}</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="single_post_content">
                    <h2><span>{{name_categories.0}}</span></h2>
                    <div class="single_post_content_left">
                      <ul class="business_catgnav  wow fadeInDown">
                        <li>
                          <figure class="bsbig_fig"> <a href="{% url 'view-post' first_category_posts.0.id %}" class="featured_img"> <img alt="" src="{{first_category_posts.0.banner_path.url}}"> <span class="overlay"></span> </a>
                            <figcaption> <a href="{% url 'view-post' first_category_posts.0.id %}l">{{ first_category_posts.0.title }}</a> </figcaption>
                            <p>{{first_category_posts.0.short_description |truncatechars:100}}</p>
                          </figure>
                        </li>
                      </ul>
                    </div>
                    <!-- demo list category-->
                    <div class="single_post_content_right">
                      <ul class="spost_nav">
                        {% for lpost in first_category_posts %}
                        {% if forloop.counter > 1 %}
                        <li>
                            <div class="media wow fadeInDown"> <a href="{% url 'view-post' lpost.id %}" class="media-left"> <img alt="" src="{{ lpost.banner_path.url }}"> </a>
                                <div class="media-body"> <a href="{% url 'view-post' lpost.id %}" class="catg_title"> {{ lpost.title }}</a> </div>
                            </div>
                        </li>
                        {% endif %}
                        {% endfor %}
                      </ul>
                        <div style="text-align: center;">
                          <a href="/category/1" class="catg_title">---Xem thêm---</a>
                        </div>
                    </div>
                </div>
                <div class="single_post_content">
                  <h2><span>{{name_categories.1}}</span></h2>
                  <div class="single_post_content_left">
                    <ul class="business_catgnav  wow fadeInDown">
                      <li>
                        <figure class="bsbig_fig"> <a href="{% url 'view-post' second_category_posts.0.id %}" class="featured_img"> <img alt="" src="{{second_category_posts.0.banner_path.url}}"> <span class="overlay"></span> </a>
                          <figcaption> <a href="{% url 'view-post' second_category_posts.0.id %}">{{ second_category_posts.0.title }}</a> </figcaption>
                          <p>{{second_category_posts.0.short_description |truncatechars:100}}</p>
                        </figure>
                      </li>
                    </ul>
                  </div>
                  <!-- demo list category-->
                  <div class="single_post_content_right">
                    <ul class="spost_nav">
                      {% for lpost in second_category_posts %}
                      {% if forloop.counter > 1 %}
                      <li>
                          <div class="media wow fadeInDown"> <a href="{% url 'view-post' lpost.id %}" class="media-left"> <img alt="" src="{{ lpost.banner_path.url }}"> </a>
                              <div class="media-body"> <a href="{% url 'view-post' lpost.id %}" class="catg_title"> {{ lpost.title }}</a> </div>
                          </div>
                      </li>
                      {% endif %}
                      {% endfor %}
                    </ul>
                    <div style="text-align: center;">
                      <a  href="/category/2" class="catg_title">---Xem thêm---</a>
                    </div>
                  </div>
              </div>
            </div>

            <!-- Sidebar Widget -->
            <div class="col-12 col-sm-9 col-md-6 col-lg-4"  style="border-left: 5px solid #222022;">
                <div class="sidebar-area">

                   <!-- Add Widget -->
                   <div class="single-widget-area add-widget mb-30">
                        <a href="#">
                            <img src="{% static 'img/bg-img/add7.png' %}" alt="">
                        </a>
                    </div>
                    <br>
                    <div class="single_sidebar wow fadeInDown">
                      <h2 style="font-family: 'Raleway', sans-serif;"><span>TÀI TRỢ</span></h2>
                      <a class="sideAdd" href="#"><img src="{% static 'img/bg-img/add3.png' %}" alt=""></a> 
                    </div>
                    <br>
                    <div class="single-widget-area add-widget mb-30">
                      <a href="#">
                          <img src="{% static 'img/bg-img/add8.png' %}" alt="">
                      </a>
                  </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Intro News Area End ##### -->

<!-- ##### Add Area Start ##### -->
<div class="big-add-area">
    <div class="container-fluid">
        <a href="#"><img src="{% static 'img/bg-img/add5.jpg' %}" alt=""></a>
    </div>
</div>
<!-- ##### Add Area End ##### -->
{% endblock content %}
