{% load static %}
<footer id="footer">
    <div class="footer_top">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="footer_widget wow fadeInLeftBig">
            <h2 style="color: white;"style="color: white;">Báo công nghệ</h2>
            <a href="/" class="nav-brand"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a><br>
            <div style="margin-top: 10px;">
              Giấy phép số 362/GP-BTTTT. Bộ Thông tin và Truyền thông cấp ngày 30/06/2016.<br>
              Cơ quan chủ quản: CÔNG TY CỔ PHẦN MẠNG TRỰC TUYẾN META
            </div>

          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="footer_widget wow fadeInDown">
            <h2 style="color: white;">Chủ đề</h2>
            <ul class="tag_nav">
              <li><a href="http://127.0.0.1:8000/category/1">Window</a></li>
              <li><a href="http://127.0.0.1:8000/category/2">Android</a></li>
              <li><a href="http://127.0.0.1:8000/category/3">iPhone</a></li>
              <li><a href="http://127.0.0.1:8000/category/4">Công nghệ</a></li>
              <li><a href="http://127.0.0.1:8000/category/5">Game</a></li>
              <li><a href="http://127.0.0.1:8000/category/6">Khoa học</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="footer_widget wow fadeInRightBig">
            <h2 style="color: white;">Liên hệ</h2>
            <address>
               Địa chỉ: 56 Duy Tân, Dịch Vọng Hậu, Cầu Giấy, Hà Nội.<br>
                Điện thoại: 024 2242 6188<br>
                Email: NewsBox@contact.com
            </address>
          </div>
        </div>
      </div>
    </div>

  </footer>