{% load static %}
<header id="header">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="header_top">
        <div class="header_top_left">
          <div class="weather">
            <p>{{city}} {{temperature}}°C </p>
            <img class="may" src="http://openweathermap.org/img/wn/{{ icon_code }}.png" alt="" />
            <div style="display: flex;  color: #fff; text-wrap: nowrap;margin-top: -10px;margin-bottom: 5px;font: bold 12px sans-serif;">
              <div>{{weather_description}}</div>
            </div>
          </div>
        </div>
        <div class="header_top_right">
          <p>{{current_date}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="newsbox-main-menu">
          <div class="classy-nav-container breakpoint-off">
              <div class="container-fluid">
                  <!-- Menu -->
                  <nav class="classy-navbar justify-content-between" id="newsboxNav">
  
                      <!-- Nav brand -->
                      <a href="/" class="nav-brand"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
  
                      <!-- Navbar Toggler -->
                      <div class="classy-navbar-toggler">
                          <span class="navbarToggler"><span></span><span></span><span></span></span>
                      </div>
  
                      <!-- Menu -->
                      <div class="classy-menu">
  
                          <!-- Close Button -->
                          <div class="classycloseIcon">
                              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                          </div>
  
                          <!-- Nav Start -->
                          <div class="classynav">
                              <ul>
                                  <li><a href="{%url 'home-page'%}">Trang chủ</a>
                                  {% for category in categories %}
                                  <li><a href="{% url 'category-post' category.id %}">{{category}}</a></li>
                                  {% endfor %}
                                  {% if not user.id %}
                                  <li><a href="{% url 'login-page' %}">Đăng nhập</a></li>
                                  {% else %}
                                  <li>
                                      <a href="#">Xin chào, {{user.username}}</a>
                                      <ul class="dropdown">
                                          <li><a href="{% url 'profile-page' %}">Hồ sơ</a></li>
                                          <li><a href="{% url 'new-post' %}">Bài viết mới</a></li>
                                          <li><a href="{% url 'all-posts' %}">Tất cả bài viết</a></li>
                                          <li><a href="{% url 'logout' %}">Đăng xuất</a></li>
                                      </ul>
                                  </li>
                                  {% endif %}
                              </ul>
  
                          </div>
                          <!-- Nav End -->
  
                      </div>
                  </nav>
              </div>
          </div>
      </div>
    </div>
  </div>
  <section id="newsSection">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="latest_newsarea"> <span>Tin nổi bật</span>
            <ul id="ticker01" class="news_sticker">
              {% for lpost in latest_top_7 %}
              <li><a style="font-size: small;" href="{% url 'view-post' lpost.id %}"><img src="{{lpost.banner_path.url}}" alt="">{{lpost.title}}</a></li>
              {% endfor %}

            </ul>
            <div class="social_area">
              <ul class="social_nav">
                <li class="facebook"><a href="#"></a></li>
                <li class="pinterest"><a href="#"></a></li>
                <li class="googleplus"><a href="#"></a></li>
                <li class="youtube"><a href="#"></a></li>
                <li class="mail"><a href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </section>
</header>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var socialLinks = document.querySelectorAll('.social_nav li a');
    socialLinks.forEach(function(link) {
      link.addEventListener('click', function(event) {
        event.preventDefault();
        var url = window.location.href;
        window.open('http://facebook.com/sharer/sharer.php?u='+encodeURIComponent(url), '', 'left=0,top=0,width=650,height=420,personalbar=0,toolbar=0,scrollbars=0,resizable=0');
        //var url = window.location.href;
        // Copy URL vào clipboard
        navigator.clipboard.writeText(url)
          .then(function() {
            // Thông báo khi sao chép thành công
            alert(url);
          })
          .catch(function(err) {
            // Xử lý lỗi nếu không thể sao chép
            console.error('Không thể sao chép URL: ', err);
          });
      });
    });
  });
</script>
